# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Dependency directories
node_modules/

# Build directories
build/
dist/
sdist/
wheels/
*.egg-info/
.github/workflows/generate_spritesheet.yml
.github/workflows/generate_spritesheet.yml
.github/workflows/test.yml
